body{
    background-color: #ecf39e;
}

.topBox {
    background-color: #4f772d;
    width: 106%;
    height: 300px;
    margin-top: -100px;
    margin-left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 200px;
    margin-left: 50px;
    margin-top: 90px;
    border-radius: 20px;
}

.ilanBox{
    padding-top: 80px;
    background-color: #90a955;
    border-radius: 20px;
    margin-left: 37%;
    margin-top: 10%;
    margin-bottom: 20%;
    width: 500px;
    height: 750px;
}

.name{
    font-family: "Comic Sans MS", cursive;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 10%;
    position: relative;
}

.price{
    font-family: "Comic Sans MS", cursive;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 10%;
    position: relative;
}

.location{
    font-family: "Comic Sans MS", cursive;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 10%;
    position: relative;
}

.explanation{
    font-family: "Comic Sans MS", cursive;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 10%;
    position: relative;
}

.image{
    font-family: "Comic Sans MS", cursive;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 10%;
    position: relative;
}

.status{
    font-family: "Comic Sans MS", cursive;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 10%;
    position: relative;
}

.announcementRegister{
    margin-left: 35%;
    font-family: "Comic Sans MS";
    font-size: 25px;
    font-weight: bold;
    background-color: #ecf39e;
    color: black;
    text-decoration: none;
    font-size: 40px;
}

.announcementRegister:hover{
    background-color: #4f772d;
    color:red;
}

input[type="text"] {
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 40%;
}


input[type="text"]:focus {
    border-color: aquamarine;
    box-shadow: 0 0 5px aquamarine;
}

input[type="number"] {
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 40%;
}


input[type="number"]:focus {
    border-color: aquamarine;
    box-shadow: 0 0 5px aquamarine;
}